:host {
  position: relative;

  img {
    width: 5rem;
    object-position: 50% 50%;
    height: 100%;
  }

  .remove-btn {
    position: absolute;
    background-color: #c71515;
    right: -1rem;
    padding: 5px 10px;
    top: -0.5rem;
  }
}

:host.uploading::after {
  content: "Uploading";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgb(240, 248, 255, 0.5);
}
